apiVersion: v1
baseDomain: {{ domain }}
networking:
  machineCIDR: 192.168.111.0/24
metadata:
  name: {{ cluster}}
compute:
- name: worker
  replicas: {{ workers }}
controlPlane:
  name: master
  replicas: {{ masters }}
  platform:
    baremetal: {}
platform:
  baremetal:
    libvirtURI: {{ uri }}
    externalBridge: {{ external_bridge }}
    apiVIP: 192.168.111.5
    dnsVIP: 192.168.111.3
    ingressVIP: 192.168.111.4
    hosts:
{%- for num in range(0, masters) %}
      - name: openshift-master-{{ num }}
        role: master
        bmc:
          address: ipmi://192.168.111.1:623{{ num }}
          username: admin
          password: password
        bootMACAddress: aa:bb:cc:dd:ee:0{{ num }}
        hardwareProfile: libvirt
{%- endfor %}
{%- for num in range(0, workers) %}
      - name: openshift-worker-{{ num }}
        role: worker
        bmc:
          address: ipmi://192.168.111.1:624{{ num }}
          username: admin
          password: password
        bootMACAddress: aa:bb:cc:dd:ee:1{{ num }}
        hardwareProfile: libvirt
{%- endfor %}
pullSecret: |
    {{ pull_secret }}
sshKey: |
    {{ ssh_key }}
